body {
  background-color: rgb(243, 243, 243);
}

.container {
  margin-top: 25px;
}

.card-content,
.card-action {
  margin: 15px;
}

.card {
  box-shadow: 5px 10px 8px #888888;
}

.clear-tasks {
  color: rgb(113, 175, 255);
}

.fa {
  color: rgb(0, 195, 255);
}
